body{
    background-color: #020c39;
    position: relative;
}
.top{
    display: flex;
}
.navbar-befor{
    background-color: transparent;
    font-weight: bold;
}
.navbar-after{
   z-index: 1;
    align-self: center;
    width: 100%;
    border: 1px solid gray;
    background-color: #0572ec;
    position: fixed;
    top: 5px;
    left: 50;
    
}
.navbar-brand{
    color: #fff;
}
.navbar-toggler{
    border: 1px solid #fff;
    
}
.nav-link{
    color: #fff;!important
}
#nav-home {
    color: #fff;!important
}
.navbar-brand-second{
    background-color: #fff;
    border-radius: 12px;
    color: black;
    text-transform: capitalize;

}
.navbar-brand-second:hover{
    background-color: rgb(231, 248, 248);
}
@media screen and (min-width: 701px) {
    .my-card{
        flex-direction: column;
    }
}
.card-text{
    text-align: center;!important
}
.frist-div-btn{
    background-color: #0572ec;
    border: 2px solid transparent;
    border-radius: 60px;
    color: #fff;
    width: 15rem;
    padding: 8px 24px;
}
@media screen and (min-width: 701px) {
    
    .frist-div-btn{
        display: flex;
    }
    .frist-div-btn-2{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .my-card{
        display: flex;
        flex-direction: column;!important
    }
    .card-title{
        font-size: 1rem;
    }
    .frist-div-btn{
        display: none;
    }
    .frist-div-btn-2{
        display: flex;
        justify-content: center;
        background-color: #0572ec;
        border: 2px solid transparent;
        border-radius: 60px;
        color: #fff;
        width: 8rem;
        padding: 8px 24px;
    }
    
    .frist-div-btn-2{
        display: flex;
    }
}
.need-password-heading{
    color: #fff;
    max-width: 55em;
    text-align: center;
    font-weight: 700;
    
}
.generated-password-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.generated-password-label{
 color: #fff;
 margin-left: 1.4rem;
 font-weight: bold;
}
#generated-password{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3rem;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid gray;
    background-color: #fff;
    color: #0572ec;
    
}
.password-btn-label{
    color: #fff;
    font-weight: bold;
}
#password-btn,#copy-secure-password-btn{
    width: 15rem;
    border-radius: 16px;
    padding: 12px 24px 12px 24px;
    text-transform: capitalize;
    
}

.regenerate-btn{
    background-color: #0572ec;
    border: 2px solid transparent;
    border-radius: 60px;
    color: #fff;
    width: 120px;
    height: 50px;
    margin-top: 15px;
    
} 


@media screen and (min-width: 310px ) and (max-width: 650px) {
    #large{
        display: flex;
        flex-direction: column;
    }
    .regenerate-btn{
        border: 2px solid transparent;
        border-radius: 16px;
        width: 15rem;
        height: 50px;
    } 
    
       
}
